.coffee_container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  margin: auto;
  padding: 20px;
}
#coffee_container-main {
  /* border: 1px solid green; */
  align-items: center;
  margin-bottom: 50px;
}
#coffee_container-btn {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#coffee_container-btn button {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
}
#coffee_container-btn button:hover {
  background-color: red;
}
